<nav>
    <ul class="nav">
        <li><a href="/index.ejs">Home</a></li>
        <li><a href="/custom.ejs">Custom</a></li>
        <li><a href="/sedan.ejs">Sedan</a></li>
        <li><a href="/suv.ejs">SUV</a></li>
        <li><a href="/truck.ejs">Truck</a></li>
         <button id="ham-btn" class="hamburger" aria-label="Menu"></button>

    </ul>
</nav>