<h1 id="welcome">Welcome to CSE Motors!</h1>

<div id="hero-section">
    <img id="hero-image" src="images/vehicles/delorean-tn.jpg" alt="delorian-hero-img">
    <div id="hero-box">
        <p id="main-product-p">DMC Delorian 3 cup holders Superman doors Fuzzy dice</p>
        <button id="main-product-button">Own today</button>
    </div>
</div>
<dialog id="hero-modal">
        <button id="close-btn">×</button>
        <h2>Buy Now!! Steal of the century!</h2>
        <p>You won't regret it!!</p>
        <div class="pricing">
            <div class="price-card">
                <button class="buy-button">BUY!</button>
        </div>
    </dialog>
<section id="details">
    <div id="upgrades">
        <h2 id="upgrades-header">Delorian upgrades</h2>
            <div class="upgrade-item">
                <div class="upgrade-img-div"><img src="images/upgrades/flux-cap.png" alt="Flux Capacitor"></div>
                <p>Flux Capacitor</p>
            </div>
            <div class="upgrade-item">
                <div class="upgrade-img-div"><img src="/images/upgrades/flame.jpg" alt="Flame Details"></div>
                <p>Flame Details</p>
            </div>
            <div class="upgrade-item">
                <div class="upgrade-img-div"><img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"></div>
                <p>Bumper Stickers</p>
            </div>
            <div class="upgrade-item">
                <div class="upgrade-img-div"><img src="images/upgrades/hub-cap.jpg" alt="Hub caps"></div>
                <p>Hub Caps</p>
            </div>
    </div>
    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li><p> "So fast it's almost like traveling in time.(4/5) </p></li>
            <li><p> "Coolest ride on the road." (4/5) </p></li>
            <li><p> "I'm feeling McFly|" (5/5) </p></li>
            <li><p> "The most futuristic ride of our day."(4.5/5) </p></li>
            <li><p> "80's livin and I love it!" (5/5) </p></li>
        </ul>
    </div>
</section>
<script src="js/script.js"></script>
